header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px 15px;

  background-color: transparent;
  backdrop-filter: blur(5px) brightness(90%);
}
.title {
  color: #f2f3f4;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-decoration: none;

  margin-left: -70px;

  position: relative;
}
.title::after {
  position: absolute;
  content: " ";
  width: 40px;
  height: 40px;
  background-color: #fff;
  right: -45px;
  background-image: url(./cloud_icon.png);
  background-size: cover;
  background-color: transparent;
  animation: sunshine 1s infinite alternate;
}
@keyframes sunshine {
  0% {
    filter: drop-shadow(0 0 5px #e3bd3b);
  }
  100% {
    filter: drop-shadow(5px -5px 5px #e3bd3b);
  }
}
.search__row {
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 20px;
}
.search__inp {
  position: relative;

  border: 0;
  outline: 0;
  padding: 5px 10px;
  height: 30px;
  width: 200px;

  font-size: 1rem;

  box-sizing: border-box;

  transition: all 0.2s ease-in-out;

  background-color: transparent;
  color: #f2f3f4;
  border-bottom: 2px solid #f2f3f4;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.search__inp::placeholder {
  color: #f2f3f4;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  background: #f2f3f4;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.search__btn:hover {
  scale: 1.1;
}
.search__btn:active {
  scale: 0.95;
}
.btn__img {
  width: 20px;
}
.sign_up_link,
.user_account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 5px 15px;

  height: 40px;
  min-width: 120px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;

  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f2f3f4;
  color: #000;
  text-decoration: none;

  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.sign_up_link:hover,
.user_account:hover {
  background-color: transparent;
  color: #f2f3f4;
  outline: 2px solid #f2f3f4;
}
.sign_up_link img,
.user_account img {
  width: 30px;
}
@media screen and (max-width: 1200px) {
  .title {
    margin: 10px auto;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  .title::after {
    display: none;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
