.registration {
  padding: 15px;
  background-image: url(./bgc_img.jpg);
  filter: contrast(125%) brightness(90%);
  background-size: cover;
  height: 100vh;
}
.reg_container {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 40px;
}
.reg_form {
  height: 100%;
  width: 100%;

  padding: 0 15px;
  max-width: 500px;
}
.reg_form legend {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 0 10px;

  color: #f2f3f4;

  font-weight: 600;
  letter-spacing: 3px;
}
.reg_form fieldset {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 20px;
  padding: 15px;

  background-color: transparent;
  color: #272727;
  backdrop-filter: blur(10px);
  border: 2px solid #696969;
}
.form_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
}
.form_row label {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #f2f3f4;
}
.form_row input {
  font-size: 1.3rem;
  margin-right: 20px;
  padding-bottom: 5px;

  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #f2f3f4;
  color: #f2f3f4;
}
.form_row input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.form_row input::placeholder {
  font-size: 1.3rem;
  color: #f2f3f4;
  opacity: 70%;
}
.form_row input:focus::placeholder {
  opacity: 100%;
}
.reg_form button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #f2f3f4;
  background-color: transparent;
  border: 2px solid #f2f3f4;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.reg_form button:hover {
  background-color: #f2f3f4;
  color: #010101;
}
.reg_form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  height: 35px;
  width: 300px;

  margin: 0 20px;
  padding: 5px;

  font-size: 1.1rem;
  border-radius: 10px;
  border: 1.5px solid #f2f3f4;
  background-color: transparent;
  color: #f2f3f4;

  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.reg_form select:hover {
  background-color: #f2f3f4;
  color: #424242;
  font-weight: 500;
}
.reg_form select option {
  color: #424242;
  background-color: #f2f3f4;
}
.error_message {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
.changeInputImg {
  position: absolute;
  right: 40px;
  padding-bottom: 20px;

  width: 27px;

  cursor: pointer;
}
